.footer{
    padding-top:5vh;
    padding-bottom:5vh;
    height:5vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}



@media screen and (max-width:768px){
    .footer{
        padding-top: 5vh;
        padding-bottom: 5vh;
        flex-direction: column;
        gap:0.2rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width:768px) and (max-width:912px){
    .footer{
        padding-top:4vh;
        padding-bottom: 4vh;
        padding-left: 5vw;
        gap:0.1rem;
        font-size: 1rem;
    }
}
